body{
	margin:0;
	padding: 0;
	background: rgba(3, 129, 129, 0.315);
	font-family: 'Raleway',sans-serif;
	color: #fff;
}
.banner{
	height: 100%;
	width: 100%;
	background:url('/assets/overlay.png'),url('/assets/banner.jpg');
	background-position: top;
	background-size:cover;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
}
.banner .navbar{
	margin-top:4%;
}
.banner .navbar-brand{
	color: black;
	font-size:1.8em;
	font-weight: 700;
	margin-left: 10%;
}
.banner .nav{
	margin-right:10%; 
}
.banner .nav li a{
	color:rgb(136, 136, 136);
	font-size: 1.2em;
}
.banner .info{
	margin-top:15%;
	transform: translateY(-15%);
}
.banner .info h1{
	font-size: 2.5em;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	color:rgb(136, 136, 136);
	letter-spacing: 2px;
}
.banner .info a{
	margin-left:50%;
	transform: translateX(-50%);
	color: #fff;
	background-image: linear-gradient(to bottom, #4cbbc5, #10545a );
	padding:10px 20px; 
	font-size: 2em;
	font-weight: 600;
}
.banner .info a:hover{
	background: #10545a;
}
footer{
    padding-top: 180px;
}
.btn{
    border-radius: 40px;
}